.container {
	width: 60em; /*960px / 16px (base) = 60em */
	margin: 0 auto;
}

body {
  background: #cc6666;
}

body:after {
    content:"";
    background:#ff9999;
    position:fixed;
    top:0;
    bottom: 0;
    right::25%;
    left::25%;
    content:" ";
    z-index:-1;
}

footer {
}

footer li {
	list-style: none;
	background-color: #cc6666;
	display:block;
	width:80px;
	height:80px;
	border-radius:50px;
	font-family: $sans-serif;
	color:#fff;
	line-height:80px;
	text-align:center;
}

footer li:hover {
	background-color: #663300;
}
