
.container-1,
.container-2,
.container-3,
.container-4,
.container-5,
.container-6,
.container-7,
.container-8,
.container-9,
.container-10,
.container-11
  {
  margin: 0 auto;
  padding-top: 100px;
  max-width: 960px;

  @media only screen and (max-width: 568px){

  padding: 20px;
}
}

.h2 {
  padding-bottom: 50px;
}
.row {
  margin-left: -1em;
  margin-right: -1em;
  @include cf;
}

[class^="col-"] {
  width: 100%;
  float: left;
  padding:0 1em;

}


@for $i from 1 through 12 {
  .col-#{$i} {
    @media screen and (min-width: 568px){
      width: (100% / 12) * $i;

    }
  }
}
