#mainnav {
	font-family: $sans-serif;
	text-transform: uppercase;
	letter-spacing: .05em;
}

#mainnav ul {
	margin: 0;
}

#mainnav ul li {
	margin: 0;
	list-style: none;
}

#mainnav ul li a {
	float: left;
	padding: 1em;
	display: block;
	padding: .8em 1.5em;
  text-decoration: none;
  color: #663300;
}

#mainnav ul li a:hover {
	color: #ff9999;
}

#mainnav ul li.selected a, #mainnav ul li.selected a:hover {
	display: relative;
	color: #ff9999;
}

#mainnav ul ul {
	display:none;
	top:100%;
	left:0;
	background:#000;
	padding:0
}

#mainnav ul ul li {
	width:200px
}

#mainnav ul ul a {
	line-height:120%;
	padding:10px 15px
}

#mainnav ul ul:hover {
	display:block
}
