header h1 {
	display: none;
}

.mainnav {
	font-family: $sans-serif;
	text-transform: uppercase;
	letter-spacing: .05em;
	padding: 10em 0;
}

.mainnav ul {
	margin: 0;
}

.mainnav ul li {
	display: inline-block;
	margin: 0;
	list-style: none;
	position: relative;
}

.mainnav ul li a {
	padding: 1em;
	display: block;
	padding: .8em 1.5em;
  text-decoration: none;
  color: #663300;
}

.mainnav ul li a:hover {
	color: #ff9999;
}

.mainnav ul li.selected a {
	color: #ff9999;
	display: block;
}



.mainnav ul li:hover > ul {
	display: block;
}

.mainnav ul li ul {
	display: none;
	top:100%;
	left:0;
	padding:0;
	position: absolute;
}

.mainnav ul li ul li {
	width:200px;
}

.mainnav ul li ul a {
	line-height:120%;
}

.mainnav ul li ul:hover {
	display: relative;
}
