header h1 {
	display: none;
}

.mainnav {
	font-family: $sans-serif;
	text-transform: uppercase;
	letter-spacing: .05em;
	background-color: #fff;
	text-align: center;
  margin-right: auto;
  margin-left: auto;
	padding: .5em 0;
}

.mainnav ul {
	margin: 0;
}

.mainnav ul li {
	display: inline-block;
	margin: 0;
	list-style: none;
	position: relative;
}

.mainnav ul li a {
	display: block;
	padding: .5em 1.5em;
  text-decoration: none;
  color: #663300;
	background-color: #fff;
}

.mainnav ul li a:hover {
	color: #ff9999;
}

.mainnav ul li.selected a {
	color: #ff9999;
	display: block;
}

.mainnav ul li:hover > ul {
	display: block;
}

.mainnav ul li ul {
	display: none;
	top:100%;
	left:50%;
	transform: translateX(-50%);
	padding:0;
	position: absolute;
}

.mainnav ul li ul li {
	width:200px;
}

.mainnav ul li ul a {
	line-height:120%;
}

.mainnav ul li ul:hover {
	display: relative;
}

li.logo {
	width: 250px;
}

.logo a {
	position: relative;
}

.logo img {
	position: absolute;
	width: 100%;
	top: 0;
	transform: translateY(-50%);
	left: 0;
}
