.left {
    width: 40%;
    float: left;
    padding-right: 1em;
    border: 1px solid #000;
    padding: 1em;
}

.right {
    clear: left;
    width: 45%;
    float: right;
    padding-left: 1em;
    border: 1px solid #000;
    padding: 1em;
}
