.left {
    width: 40%;
    float: left;
    padding-right: 1em;
    padding: 1em;
}

.right {
    clear: left;
    width: 45%;
    float: right;
    padding-left: 1em;
    padding: 1em;
}

.about p {
    padding: 0 4em;
}

.about h2 {
  padding: 3.75em 0 1.5em 0;
  text-align: center;
  font-size: 2em;
}
