html {
  background: url(images/featuredartist_rm.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.about {

  h1 {
    font-family: $titlefont;
    font-size: 48px;
    text-transform: uppercase;
  }

  p {

    font-family: $font;
    font-size: 16px;
  }

}
