.blog {
  width: 100%;
  height: auto;
  color: #fff;
  background-image: url('../images/background-blog.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3em;

  .vertical-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .overlay {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity 1s;
  }


  h1 {
    font-family: $titlefont;
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 7px;
    padding-bottom: 16px;
  }

  a {
    font-family: $font;
  }

  h2 {
    text-align: center;
    padding-top: 1.75em;

    a {
    font-family: $titlefont;
    font-size: 28px;
    text-transform: uppercase;
    color: #ccc;
    text-decoration: none;
    }
  }
}

// Blog Grid

.blog-grid {

  a {
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
    height: 100%;
    box-shadow: 3px 3px 3px #a9a9a9;
  }

  img {
    width: 100%;
    position: absolute;
    box-sizing: border-box;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }


  ul:after {
    content: "";
    display: table;
    clear: both;
  }

  .blog-li {
      list-style: none;
      float: left;
      width: 25%;
      height: 150px;
      padding-right: 20px;
      padding-bottom: 20px;
      box-sizing: border-box;

      p {
        position: absolute;
        top: 65%;
        left: 12%;
        text-align: center;
        color: #fff;
      }
      &:hover {
        .overlay {
            visibility: visible;
            opacity: 1;
        }
      }
  }

}
