.container-1,
.container-2,
.container-3,
.container-4,
.container-5,
.container-6,
.container-7,
 {
  position: relative;
  height: 800px;
  padding-left: 186px;
  max-width: 960px;

}

.slick-arrows {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.slick-prev {
  left: 0;
  z-index: 10;
}
.slick-next {
  right: 0;
}
.collections-width {
  background-color: #000000;
  width: 100%;;
}
