.we-love {
  margin-bottom: 5em;
  background: #fff;
  position: relative;


  h2 {
   padding-left: 40%;
   padding-bottom: .2em;
    font-family: 'lust_scriptregular';
    color: #767373;
    font-size: 5.5rem;
    height: .5em;
    margin-bottom: 1em;
    line-height: 1;
  }
  small {
    font-size: 2rem;
    margin-left: -1em;
  }

  .column.seven {
    float: right;
  }
       p {
        float: left;
        font-family: 'Lato', sans-serif;
        color: #424242;
        font-size: 1.1rem;
        font-weight: 300;
        padding-top: 3em;
        margin-bottom: 2em;
      }
     a.button1,
     a.button2 {
       background: url(../images/view_the_full_menu_btn.png) no-repeat 0 0;
       display: block;
       width: 197px;
       height: 0;
       padding-top: 36px;
       overflow: hidden;
       margin-left: 8.6em;
}
     a.button1:hover {
         background: url(../images/view_the_full_menu_btn.png) no-repeat 0 -36px;
       }

     a.button2 {
         background: url(../images/contact_us_btn.png) no-repeat 0 0;
         width: 124px;
     }
     a.button2:hover {
         background: url(../images/contact_us_btn.png) no-repeat 0 -36px;
       }
}

.forms {
  margin-bottom: 5em;
  .row1,
  .row2,
  .row3,
  .row4 {
    margin: 1em 0;
    width: 100%;
    float:left;

    label {
      text-align: center;
    }

    input,
    textarea {
      min-height: 4.125em;
      padding-left: 1em;
    }

}
    .row1 {
      .form-left,
      .form-right {
        width: 48%;
        float:left;
        padding-right: 4%;
      }


      .form-right {
        float: right;
        padding-right: 0;
      }
    }



  .row4 {
      input,
      textarea {
        min-height: 15em;
      }
  }
}

.contact-info {
  text-transform: uppercase;
  text-align: center;

  h3 {
    padding: 5em 0 2em 0;
    border-top: 2px solid #2c2c2c;
  }
  p {
    font-size: .8em;
    font-weight: 400;
    line-height: 1.5;
  }
}

.map {
  width: 100%;
  margin-bottom: 5em;
}
