.we-love {
  margin-bottom: 5em;
  background: #fff;
  position: relative;


  h2 {
   padding-left: 40%;
   padding-bottom: .2em;
    font-family: 'lust_scriptregular';
    color: #767373;
    font-size: 5.5rem;
    height: .5em;
    margin-bottom: 1em;
    line-height: 1;
  }
  small {
    font-size: 2rem;
    margin-left: -1em;
  }

  .column.seven {
    float: right;
  }
       p {
        float: left;
        font-family: 'Lato', sans-serif;
        color: #424242;
        font-size: 1.1rem;
        padding-top: 3em;
        margin-bottom: 2em;
      }
     a.button1,
     a.button2 {
       background: url(../images/view_the_full_menu_btn.png) no-repeat 0 0;
       display: block;
       width: 197px;
       height: 0;
       padding-top: 36px;
       overflow: hidden;
       margin-left: 8.6em;
}
     a.button1:hover {
         background: url(../images/view_the_full_menu_btn.png) no-repeat 0 -36px;
       }

     a.button2 {
         background: url(../images/contact_us_btn.png) no-repeat 0 0;
         width: 124px;
     }
     a.button2:hover {
         background: url(../images/contact_us_btn.png) no-repeat 0 -36px;
       }
}

.forms {
  margin-bottom: 5em;
  .row1,
  .row2,
  .row3,
  .row4 {
    margin-top: 3em;


      .form-left,
      .form-right {
        margin-bottom: 1em;

        input,
        textarea {
          margin: 0 0 0.5em;
          text-align: left;
          padding-left:.5em;
          


        }
      }
     }
    .row1 {
      .form-left,
      .form-right {
        width: 49%;
        float:left;
        padding-right: 2%;

        input,
        textarea {
          min-height: 4.125em;
        }
      }


      .form-right {
        float: right;
        padding-right: 0;
      }
    }


  .row2,
  .row3 {
      width: 100%;
      float:left;

      input,
      textarea {
        min-height: 4.125em;
      }
    }

  .row4 {

  }
}
