html {
  width: 100%;
  height: 100%;
  background: #ccc;
}

body {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
}


.logo {
    font-family: $logo;
    color: #fff;
    font-size: 1.5em;
    h2 {
      font-family: $font;
      font-weight: 300;
      font-size: 15px;
    }
}

.section01 {
  width: 100%;
  height: 100%;
}


.feature-artist {

  color: #fff;

  h1 {
  letter-spacing: 7px;
  }

  h2 {
    font-family: $titlefont;
  }
}
