.content {
  background: #fff;
  padding-bottom: 8em;



   h2 {
    padding-left: 30%;
     font-family: 'Lustscript';
     color: #767373;
     font-size: 6.25em;
     height: .5em;
     margin-bottom: 1em;
   }


 .column.ten {
   float: right;
 }
      p {
       float: left;
       font-family: 'Lato';
       color: #424242;
       font-size: 1.25em;
       padding: 4em 0 8em 7em;
       margin-bottom: 2em;


     }
   }
.gallery {
  width: 70%;
  padding-left: 15%;


      .row-group1,
      .row-group2 {
        width: 100%;
        float:left;
        padding-top: .5em;

      li {
        list-style: none;
        float:left;
        width: 32%;
        margin-left: 2%;
      }

        li:first-child {
        margin-left: 0;
      }
    }
      .row-group2 {
        margin-bottom: 6em;
      }
}
