.section-home {
  width: 100%;
}

.section01 {
  padding: 2em 0;
  margin: 0 auto;
  width: 100%;
}

.homeimg {
  width: 80%;
  margin: 2em 0 5em 55%;
}

.homeimg:hover {
  opacity: 0.8;
}

.home-scale {
  margin: 0 auto;
}

.slider {
  margin-top: 6em;
}

.section01 .column-1 {
	width: 24%;
	float: left;
  height: 300px;
  margin: 0 auto;
}

.section01 .column-2 {
	width: 24%;
	float: left;
  height: 300px;
  margin: 0 auto;
}

.section01 .column-3 {
	width: 24%;
	float: left;
  height: 300px;
  margin: 0 auto;
}
