.our-story {
background: url("../images/our-story-bg.png") no-repeat center center ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 850px;
}
.title {
  font-family: $sans-serif;
  font-size: 1.2em;
  letter-spacing: 3px;
}

.collections-8 {
  max-width: 586px;

}

.storyinfo {
padding: 18px 170px 35px 0;

@media only screen and (max-width: 500px){
  display: none;
}
}
