.our-story{
background-image: url("../images/our-story-bg.png");
background-repeat: no-repeat;
border: 2px solid blue;
height: 850px;
}

.title {
  font-family: $sans-serif;
  font-size: 1.2em;
  letter-spacing: 3px;
}
