#products {
	padding: 2em 0;
  margin: 5em auto;
}

#products .column1 {
	width: 22%;
	float: left;
  background-color: #ff9999;
  text-align: center;
  padding: 2em 0;
  height: 300px;
}

#products .column2 {
	width: 22%;
	float: left;
	margin: 0 0 0 4%;
  background-color: #ff9999;
  text-align: center;
  padding: 2em 0;
  height: 300px;
}

#products .column3 {
	width: 22%;
	float: left;
	margin: 0 0 0 4%;
  background-color: #ff9999;
  text-align: center;
  padding: 2em 0;
  height: 300px;
}

#products .column4 {
	width: 22%;
	float: left;
	margin: 0 0 0 4%;
  background-color: #ff9999;
  text-align: center;
  padding: 2em 0;
  height: 300px;
}

#products h3 {
	margin-bottom: .1em;
}

#products h4 {
	padding-bottom: .3em;
	border-bottom: 4px solid #000;
}

#products .column1:hover, #products .column2:hover, #products .column3:hover, #products .column4:hover {
  background-color: #fff;
}

#products .column1 a, #products .column2 a, #products .column3 a, #products .column4 a {
  text-decoration: none;
}
