#products {
	padding: 2em 0;
  margin: 5em auto;
}

#products .column1 {
	width: 22%;
	float: left;
  background-color: #ff9999;
  text-align: center;
  padding: 2em 0;
  height: 300px;
	margin: 0 0 0 20%;
}

#products .column2 {
	width: 22%;
	float: left;
	margin: 0 0 0 15%;
  background-color: #ff9999;
  text-align: center;
  padding: 2em 0;
  height: 300px;
}


#products h3 {
	margin-bottom: .1em;
	padding: .5em 0 0 0;
	color: #663300;
}

#products p {
	padding: 1em .5em 1.5em .5em;
	font-style: $sans-serif;
}

#products .column1:hover, #products .column2:hover, #products .column3:hover, #products .column4:hover {
  opacity: .79;
}

#products .column1 a, #products .column2 a, #products .column3 a, #products .column4 a {
  text-decoration: none;
	font-style: $sans-serif;
	color: #fff;
}

#products .column1 img.scale-with-grid, #products .column2 img.scale-with-grid, #products .column3 img.scale-with-grid,
#products .column4 img.scale-with-grid {
	border: 4px solid #fff;
	border-radius: 100px;
}
