.submit {

  h1 {
    font-family: $titlefont;
    font-size: 48px;
    text-transform: uppercase;
  }

  h3 {
    font-family: $titlefont;
    font-size: 18px;
  }

  p {
    font-family: $font;
    font-size: 16px;
  }
}
