.regular-checkbox {
	-webkit-appearance: none;
  appearance: none;
	background-color: none;
	border: 1px solid #cacece;
  margin-left: 2em;
	padding: 9px;
	display: inline-block;
	position: relative;
  outline: 0;

}
.regular-checkbox:checked:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: #99a1a7;
  outline: 0;
}
