.forms {
  width: 100%;
  float: left;

    .row1,
    .row2,
    .row3,
    .row4, {
      width: 100%;
      float:left;

    }



  height: 60px;
  text-transform: uppercase;
  font-size: 1rem;
  color: #2d2d2d;
}
