html {
  font-size: $base-font;
}
body {
  color: white;
  font-weight: 300;
  font-style: normal;
  font-variant: normal;
  font-size: type-scale(0);
  line-height: $line-height;
  font-family: $sans-serif2;

//  @media screen and (min-width: 768px){
//    font-size: type-scale(0);
// }
}
/* @section headings */
h1,
h2,
h3 {
  font-family: $serif;
  font-weight: 400;
  color: white;
  letter-spacing: 5px;
  padding-bottom: 70px;
}

h1 {
  font-size: type-scale(4);
}
h2 {
  font-size: type-scale(3);
  text-transform: uppercase;
  @media only screen and (max-width: 568px){
    font-size: type-scale(0);
  }
  @media only screen and (max-width: 768px){
    font-size: type-scale(0)

  }
}

h3 {
  font-size: type-scale(2);
}
p {

  margin-bottom: 0 0 em-calc($base-font);
}
