footer {
  background: #4A4A4A;
  height: 15em;
  width: 100%;

  .container {
    margin-top: 6em;
    .one-third.columns{
     font-size: .65em;
     color: #ffffff;

     .contact {
       float: left;
       padding: 17em 0 0 2em;
     }
     .copyright {
       float: right;
     }
    }
    .one-third.columns:last-child {
      float: right;
    }


    .one-third.columns.social {

        ul {
          display: inline-block;
        }

       li{
         list-style: none;
         display: inline-block;
       img {
        width: 35px;
        height: 35px;
      }
}
}
}
}
