header {
 position: relative;
 width: 100%;
 background-image: url(../images/photo1.png);
  height: 750px;
  background-repeat: no-repeat;
  background-size: cover;

      .logo h1 a {
        display: block;
        background-image: url("../images/logo.png");
        background-repeat: no-repeat;
        background-size: 425px 140px;
        width: 425px;
        height: 0;
        padding-top: 140px;
        overflow: hidden;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -192px;
        margin-top: -67.5px
      }

}

#mainnav {
        position:fixed;
        right: 0;
        color: #fff;
        padding-bottom: 30px;
        overflow: hidden;
      




        ul {

          padding-left: 0;
          margin: 0;
          list-style: none;
          position: relative;
          text-align: center;

          .nav-menu > ul {
            display: none;
          }

          .nav-menu:hover > ul {
            display: block;
          }

            li {
              display: inline-block;
              list-style: none;
              padding: 0 1em;
              margin: 0;
              text-transform: uppercase;
              font-family: 'lato';

              :last-child {
                margin: 0;
              }

              :hover ul {
                left: 0;
              }

              a {
                display: block;
                padding: 15px;
                text-decoration: none;
                color: #fff;
                }
              a:hover,
              a:visited,
              a:focus {
                color: #ff6100;
              }

              ul {

                position: absolute;
                top: 100%;
                right: 0;
                left: -95%;
                height: 40px;
                width: 252%;
                font-size: .7em;
                text-align: center;



                li {
                  float: none;
                  display: inline-block;

                  a {
                    padding: .5em;
                    padding-right: 0;
                    margin: 0;
                    color: #fff;
                  }
                }
              }
            }


        }

  }
