/*
 * Base
 */

@import "base/utilities";


/*
 * Layouts
 */
 @import "layout/grid";


*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body header {
  padding: 0;
}

body {
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.2;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5em;
}

h1 {
    font-size: 3em; /* 48px / 16px = 3em */
    line-height: 1em;
}

h2 {
    font-size: 2.25em; /* 36px / 16px = 2.25em */
    line-height: 1.1em;
}

h3 {
    font-size: 1.5em; /* 24px / 16px = 1.5em */
    line-height: 1.2em;
}

h4 {
    font-size: 1.3125em; /* 21px / 16px = 1.3125em */
    line-height: 1.3em;
}

h5 {
    font-size: 1.125em; /* 18px / 16px = 1.125em */
    line-height: 1.4em;
}

h6 {
    font-size: 1em; /* 16px / 16px = 1em */
    line-height: 1.5em;
}





.container {
  width: 960px;
  margin: 0 auto;
}

.main-header {
  position: fixed;
  background: rgba(255,255,255,0.75);
  width: 100%;
}


// .logo,
// .main-nav {
//   position: absolute;
// }



.logo {
  // top: 1em;
  // left:8%;
  height: 60px;
  width: 280px;
  display: inline-block;

}
.logo img {
  margin: .8em;
}


.logosmall a {
    margin: .8em;
  }
.logosmall p {
  width: 600px;
}

.main-nav {
  float:right;
  margin : 1.5em;

}


.main-nav ul li {
  list-style: none;
  margin-left: 3em;
  float: left;
}

.main-nav ul li a{
  color: #4a4a4a;
  text-decoration: none;
}

.hero {
  width: 100%;
}

.column1 .scale-with-grid {
  width: 100%;

}

.hero .column2 {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    color: #333;
    font-size: 1.875em;
    line-height: 1.2em;
}

img{
  margin-bottom: .5em;
  display: inline-block;
}

.hero_text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 15em 0 0 0;
  }

.hero_text h2 {
    color: #fff;
    font-size: 1.5em;
}

.color-gold{
  color: #F5A623;
}

.site-info {
  height: 600px;
  padding: 3em 0;
}

.site-info h2 {
    margin: 0 0 0 0;
    margin-bottom: .7em;
}

.site-info .columns {
  height: 100px;
  margin: 0 0 0 0%;
}

.site-info .info-02,
.site-info .info-03  {
  margin: 0 0 0 12%;
}

.columns:first-child {
  margin: 0;
}

.site-info .info-01 h4,
.site-info .info-02 h4,
.site-info .info-03 h4 {
  color: #F5A623;
}

.site-info .info-01,
.site-info .info-02 {
  width: 23.6%;
}

.site-info .info-03 {
  width: 23.6%;
}

.info-01 {
  float: left;
}
.info-02,
.info-03 {
  float: left;
}
.site-info .info-03 a.button {
    background: url("../images/button.png") no-repeat 0 0;
    display: block;
    width: 132px;
    height: 0px;
    padding-top: 46px;
    overflow: hidden;
    margin: 3em auto;
    float: right;
}



.baner01 {
  width: 100%;
  height: 520px;
  display: inline-block;
  background: url("../images/about.png") no-repeat 0 0;
  background-size: 100%;
}

.baner02 {
  width: 100%;
  height: 520px;
  display: inline-block;
  background: url("../images/gallery.png") no-repeat 0 0;
  background-size: 100%;
}

.baner03 {
    width: 100%;
    height: 520px;
    display: inline-block;
    background: url("../images/menu.png") no-repeat 0 0;
    background-size: 100%;
  }

.baner04 {
      width: 100%;
      height: 520px;
      display: inline-block;
      background: url("../images/map.png") no-repeat 0 0;
      background-size: 100%;
    }




.menu_text {
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 15em 0 0 0;
  }

.menu_text h2 {
    color: #fff;
    font-size: 1.5em;
}


footer {
  height: 100px;
  background-color:#DADFE4;
}

footer #footernav ul li {

  display: inline-block;
}
footer #footernav .col-1 {
  padding-top: 1em;
  margin: 1.2em;
  float: left;
}
footer #footernav .col-7 {
  font-size: .60em;
  padding-top: 2.5em;
  margin: 2em;
  float: left;
}
footer #footernav ul li ul li {
    padding-top: 1em;
    margin: 1.2em;
    float: right;
}
// footer #footernav ul li.column1 {
//   float: left;
// }
// footer #footernav ul li.column2 {
// 	width: 50%;
// 	margin: 0 2.12% 0 0;
// 	float: left;
// }
//
// footer #footernav p {
//   	font-size: .61em;
//   text-align: center;
// }
//
// footer #footernav ul li.column3 {
//   	width: 23.4%;
//   float:right;
// }
