*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body header {
  padding: 0;
}

body {
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.2;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5em;
}

h1 {
    font-size: 3em; /* 48px / 16px = 3em */
    line-height: 1em;
}

h2 {
    font-size: 2.25em; /* 36px / 16px = 2.25em */
    line-height: 1.1em;
}

h3 {
    font-size: 1.5em; /* 24px / 16px = 1.5em */
    line-height: 1.2em;
}

h4 {
    font-size: 1.3125em; /* 21px / 16px = 1.3125em */
    line-height: 1.3em;
}

h5 {
    font-size: 1.125em; /* 18px / 16px = 1.125em */
    line-height: 1.4em;
}

h6 {
    font-size: 1em; /* 16px / 16px = 1em */
    line-height: 1.5em;
}





.container {
  width: 960px;
  margin: 0 auto;
}

.main-header {
  position: relative;
}


.logo,
.main-nav {
  position: absolute;
}



.logo {
  top: 0;
  left: 0;
  height: 60px;
  width: 100px;
}
.main-nav {
  top: 0;
  right: 0;
  height: 60px;
  width: 300px;
}

.main-nav li {
  display: inline-block;
}

.hero {
  height: 400px;
  width: 100%;
  background-color: red;
}

.hero .column2 {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    color: #333;
    font-size: 1.875em;
    line-height: 1.2em;
}

img{
  width: 100%;
  display: block;
  margin-bottom: .5em;
}

.site-info {
  height: 600px;
  padding: 3em 0;
}

.site-info .columns {
  height: 100px;
  margin: 0 0 0 1%;
}

.columns:first-child {
  margin: 0;
}

.site-info .info-01,
.site-info .info-02 {
  width: 30%;
}

.site-info .info-03 {
  width: 30%;
}

.info-01 {
  float: left;
}

.info-02 {
}

.info-03 {
}

.info-02,
.info-03 {
  float: left;
}
.site-info .info-03 a.button {
    background: url(../images/button.png) no-repeat 0 0;
    display: block;
    width: 140px;
    height: 0px;
    padding-top: 46px;
    overflow: hidden;
    margin: 0 auto;
    float: right;
}


.main-footer {
  height: 100px;
  background-color:#DADFE4;
}
.main-footer p {
  text-align: center;
}
.social-footer {
  float:right;
}
