/*
 * Mixins
 */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}

/**
 * Typography
 */
@font-face {
  font-family: 'lust_scriptregular';
  src: url("../fonts/positype_-_lustscript-webfont.eot");
  src: url("../fonts/positype_-_lustscript-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/positype_-_lustscript-webfont.woff2") format("woff2"), url("../fonts/positype_-_lustscript-webfont.woff") format("woff"), url("../fonts/positype_-_lustscript-webfont.ttf") format("truetype"), url("../fonts/positype_-_lustscript-webfont.svg#lust_scriptregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'lust_scriptdisplay';
  src: url("../fonts/positype_-_lustscriptdisplay-webfont.eot");
  src: url("../fonts/positype_-_lustscriptdisplay-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/positype_-_lustscriptdisplay-webfont.woff2") format("woff2"), url("../fonts/positype_-_lustscriptdisplay-webfont.woff") format("woff"), url("../fonts/positype_-_lustscriptdisplay-webfont.ttf") format("truetype"), url("../fonts/positype_-_lustscriptdisplay-webfont.svg#lust_scriptdisplay") format("svg");
  font-weight: normal;
  font-style: normal;
}

p {
  font-family: 'Lato';
}

footer {
  background: #4A4A4A;
  width: 100%;
  padding: 40px 0 100px 0;
  margin-top: 100px;
}

.container {
  max-width: 960px;
}

p {
  margin: 0;
  font-size: .65em;
  color: #fff;
}

.contact {
  float: left;
  left: auto;
  margin: 0 0 2em 0;
}

#social-media {
  float: left;
}

#social-media ul {
  list-style: none;
}

#social-media ul li {
  clear: none;
  margin: 0 10px;
  float: left;
}

.copyright {
  float: left;
}

.container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

.row {
  margin: 1em 0;
}

.row:after {
  content: "";
  clear: both;
  display: table;
}

/*  columns */
/* CUSTOM GRID (From Chris Gargiulo) */
.row {
  margin: 1em 0;
}

.row:after {
  content: "";
  clear: both;
  display: table;
}

.column {
  float: left;
  margin-left: 2%;
}

.column:first-child {
  margin-left: 0;
}

.column.one-half {
  width: 49%;
}

.column.one-third {
  width: 32%;
}

.column.one-fourth {
  width: 23.5%;
}

.column.one {
  width: 4.375%;
  background: yellow;
}

/*.column.two { width: 0%; }
.column.three { width: 0%; }
.column.four { width: 0%; }
.column.five { width: 0%; }*/
.column.six {
  width: 36.25%;
}

.column.ten {
  width: 61.75%;
}

.column.six.offset {
  width: 34.25%;
  margin-left: 4%;
}

/* images */
img.scale-with-grid {
  max-width: 100%;
  height: auto;
}

html,
body {
  height: 100%;
}

header {
  position: relative;
  width: 100%;
  background-image: url(../images/photo1.png);
  height: 750px;
  background-repeat: no-repeat;
  background-size: cover;
}

header .logo h1 a {
  display: block;
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-size: 425px 140px;
  width: 425px;
  height: 0;
  padding-top: 140px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -192px;
  margin-top: -67.5px;
}

#mainnav {
  position: fixed;
  right: 0;
  color: #ffffff;
  padding-bottom: 30px;
  overflow: hidden;
}

#mainnav ul {
  padding-left: 0;
  margin: 0;
  list-style: none;
  position: relative;
  text-align: center;
}

#mainnav ul .nav-menu > ul {
  display: none;
}

#mainnav ul .nav-menu:hover > ul {
  display: block;
}

#mainnav ul li {
  display: inline-block;
  list-style: none;
  padding: 0 1em;
  margin: 0;
  text-transform: uppercase;
  font-family: 'lato';
}

#mainnav ul li :last-child {
  margin: 0;
}

#mainnav ul li :hover ul {
  left: 0;
}

#mainnav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #fff;
}

#mainnav ul li a:hover,
#mainnav ul li a:visited,
#mainnav ul li a:focus {
  color: #ff6100;
}

#mainnav ul li ul {
  position: absolute;
  top: 100%;
  right: 0;
  left: -95%;
  height: 40px;
  width: 252%;
  font-size: .7em;
  text-align: center;
}

#mainnav ul li ul li {
  float: none;
  display: inline-block;
}

#mainnav ul li ul li a {
  padding: .5em;
  padding-right: 0;
  margin: 0;
  color: #fff;
}

.billboard img {
  width: 100%;
  margin-bottom: 10em;
}

.content {
  background: #fff;
  padding-bottom: 8em;
  position: relative;
}

.content h2 {
  padding-left: 30%;
  font-family: 'Lustscript';
  color: #767373;
  font-size: 6.25em;
  height: .5em;
  margin-bottom: 1em;
}

.content small {
  font-size: 2.25em;
}

.content .column.ten {
  float: right;
}

.content p {
  float: left;
  font-family: 'Lato';
  color: #424242;
  font-size: 1.25em;
  padding: 4em 0 8em 7em;
  margin-bottom: 2em;
}

.gallery {
  width: 70%;
  margin-bottom: 6em;
}

.gallery li {
  list-style: none;
  float: left;
  width: 32%;
  margin-left: 2%;
}

.gallery li:first-child {
  margin-left: 0;
}

/*# sourceMappingURL=style.css.map */