//Base
@import "base/utilities";
@import "base/reset";
@import "base/forms";
@import "base/typography";

//Layouts
@import "layouts/footer";
@import "layouts/grids";
@import "layouts/header";

//Modules
@import "modules/buttons";
@import "modules/hero";
@import "modules/site-info";

//Pages
@import "pages/catering";
@import "pages/contact";
@import "pages/home";
@import "pages/main-menu";
@import "pages/tapas-menu";
